$primary-color: #283618;
$secondary-color: #BC6C25;
$tertiary-color: #606C38;
$quaternary-color: #DDA15E;
$text-color: #FEFAE0;

* {
    background-color: $primary-color;
    font-family: Georgia, 'Times New Roman', Times, serif;
}